In [1]:
import pandas as pd

# Merge all standardized citites

In [12]:
cities = ['atlanta', 'austin', 'baltimore', 'boston', 'chicago', 'cincinnati',
          'dallas', 'detroit', 'fort_worth', 'los_angeles', 'new_york_city',
          'philadelphia', 'phoenix', 'san_francisco', 'seattle', 'washington_dc', 
          'milwaukee', 'portland', 'denver', 'houston', 'nashville', 
          'louisville', 'kansas_city', 'raleigh', 'buffalo', 'virginia_beach', 'little_rock']

In [13]:
final = pd.DataFrame()
for city in cities: 
    tmp = pd.read_csv('standardized/standardized_incidents_' + city + '.csv', index_col=None, dtype=str)
    print(city, len(tmp))
    final = pd.concat([final, tmp])

atlanta 104852
austin 174495
baltimore 1852
boston 82556
chicago 631353
cincinnati 82732
dallas 291492
detroit 1691
fort_worth 140658
los_angeles 628356
new_york_city 364115
philadelphia 399317
phoenix 182594
san_francisco 276129
seattle 207461
washington_dc 2985
milwaukee 124389
portland 184871
denver 163594
houston 450931
nashville 220086
louisville 1517
kansas_city 149725
raleigh 98105
buffalo 36526
virginia_beach 1481
little_rock 44021

In [14]:
final = final[(final['std_date'] >= '2021-01-01') & (final['std_date'] <= '2023-12-31')]

In [15]:
print("Final Shape:", final.shape)
final.to_csv('final/final_incidents_2023.csv', index=False)

Final Shape: (5047884, 5)

In [16]:
final.head()

     std_date     city category_1 category_2 category_3
0  2021-12-31  Atlanta       Drug       Drug       Drug
1  2021-06-24  Atlanta       Drug       Drug       Drug
2  2021-04-07  Atlanta       Drug       Drug       Drug
3  2021-01-01  Atlanta       Drug       Drug       Drug
4  2021-01-01  Atlanta       Drug       Drug       Drug